
.btn {
    height: 50px;
    background: #005494;
    box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
    border-radius: 10px;
    width: 120px;
    color: white;
    outline: none;
    border-radius: 5px 10px 10px 5px;
}

.btn:hover {
    background: #005494;
    color: white;
}

.btn-2 {
    text-decoration: none;
    color: gray;
}

.nav-item {
    list-style: none;
    margin: 10px 0px;
}

.sec-color {
    background: #F4F9FF;
    height: 90px;
    width: 100%;
}

.nav-link {
    color: gray;
    font-weight: 500;
    cursor: pointer;
}
.home {
    margin: 20px 5px;
    display: flex;
    color: #005494;
    font-weight: 500;
}

.home p a {
    text-decoration: none;
    color: gray;
}
/* header-end================================================= */

.section-1{
    width: 100%;
    margin: 8% 0px;
}

.text-div h1{
    font-size: 50px;
    color: black;
}
.section-1 .container{
display: flex;
justify-content: center;
align-items: center;
}
.text-div{
    width: 70%;
    color: #9D9D9D;
    text-align: center;
}
/* section-1-end======================== */
.accordion-body{
    color: #9D9D9D;
    padding: 0px;
}
.accordion-button{
    padding: 0px;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
    padding: 20px  0px;
}
.accordion-button{
    font-weight: 600 !important;
    font-size: 30px;
}
.accordion-button:focus{
    box-shadow: none;
}
/* section-2-end======================== */

/* footer-end============================================== */

.sectoon-5 {
    width: 100%;
}

.text-5 {
    display: flex;
    justify-content: space-around;
    background: #ECF7FF;
    flex-wrap: wrap;
    width: 100%;
    height: 379px;
}

.sec-5-box-1 {
    width: 30%;
    padding: 7% 20px;
}

.sec-5-box-1 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #202122;
    margin: 20px 0px;
}

.sec-5-box-1 .bi {
    padding: 10px 12px;
    border-radius: 42px;
    transition: 0.4s;
}

.sec-5-box-1 .bi:hover {
    background-color: #005494;
    color: white;
}

.sec-5-box-2 {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 10% 20px;
}

.sec-5-box-3 {
    padding: 7% 20px;
}

.sec-5-box-2 a {
    text-decoration: none;
    color: #202122;
    font-size: 15px;
    font-weight: 500;
}

.sec-5-box-3 a {
    text-decoration: none;
    color: #202122;
    font-size: 15px;
    font-weight: 500;
}

.copy {
    text-align: center;
    padding: 20px 0px;
    margin:0px;
    background: rgba(0, 84, 148, 0.06);
}

/* @media-screen========================= */

@media (max-width:1000px) {
    .text-div h1{
        font-size: 40px;
    }
    .text-div{
        width: auto;
    }
    .home {
        margin: 41px 5px;
    }
}

@media (max-width: 780px) {

    .sec-5-box-1 {
        width: 89%;
        margin: auto;
    }
    .sec-5-box-2 {
        margin: auto;
        width: 80%;
        padding: 0px;
    }
    .text-div h1{
        font-size: 30px;
    }
}
@media (max-width: 500px){

    .text-div h1{
        font-size: 25px;
    }
    .text-div h5{
        font-size: 16px;
    }
    .text-div p{
        font-size: 12px;
    }
    .accordion-button{
        font-size: 15px;
    }
    .accordion-body{
        font-size: 11px;
    }
}
@media (max-width: 370px){
    .sec-5-box-1 {
        padding: 7% 10px;
    }
    .sec-5-box-2 a {
        font-size: 13px;
    }
    .sec-5-box-2 a {
        font-size: 13px;
    }
    .sec-5-box-3{
        padding: 0px;
    }
    .text-div h1 {
        font-size: 16px;
    }
    .text-div h5{
        font-size: 12px;
    }
    .text-div p{
        font-size: 11px;
    }
    .home {
       font-size: 12px;
    }
    .home img{
       width: 7px;
     }
}